@import "~bootstrap/scss/bootstrap.scss";

body {
    background: rgb(131,58,180);
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,67,253,1) 50%, rgba(252,69,159,1) 100%);
}

.container {
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    margin-top: 6%;
}

.titulo {
    text-align: center;
}

.btn {
    background-color: transparent;

}

.borrar.tarea

// .list-group {

// }
